/*Change page font to Helvetica and align it to center*/
body{
  font-family: Helvetica;
  text-align: center;
}

/*Header section*/
.header{
  background-image: url('./resources/img/the-flatiron-building.png');
  background-size: cover;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.navlink{
  font-size: 18px;
  color: white;
}

/*Main section*/
h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

/*Footer section*/
.footertitle{
  color: white;
  background-image: url('./resources/img/the-flatiron-building.png');
}

/*Footer Menu*/
.footermenu{
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}
